.first_page {
    width: 1920px;
    height: 1087px;
    background-color: #fff;
    position: relative;
}

.menu {
    position: absolute;
    width: 568px;
    height: 1087px;
    background-color: #1F2940;
    float: right;
    co
}