@font-face {
    font-family: myFirstFont;
    src: url(./fonts/Ogg_Roman.woff);
}

.main {
    overflow: hidden;
}

.first_page {
    position:absolute; 
    width: 100%;
    height: 869.81px;
    margin-top: -869.81px;
}
.second_page {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.title, .centered, .menu {
    letter-spacing: 5px;
    font-family: myFirstFont;
}

.footer, .centered-note {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    float: right;
    width: 30%;
    background-color: #1F2940;
    color: #fff;
    padding-left: 40px;
    font-size: 44px;
    letter-spacing: 2px;
    height: 869.81px;
}

.menu img {
    padding-left: 40%;
}

.menu-footer {
    margin-bottom: 20px;
}

.menu-list {
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
}

.menu-footer {
    margin-top: 70%;
}

.menu-footer p {
    font-size: 30px;
    font-weight: 500;
}

.menu-footer a {
    font-size: 13px;
}

/* second page */
.second_page {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.background-2 {
    filter: brightness(0.5);
}

.centered, .centered-note, .second_page-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second_page-icon {
    border-radius: 50%;
    border: 2px solid #fff;
    bottom: 10%;
    padding: 5px;
}

.centered {
    top: 50%;
    font-size: 150px;
    letter-spacing: 20px;
}

.centered-note {
    font-size: 13px;
    top: 65%;
}

.top-right {
    position: absolute;
    top: 60px;
    right: 100px;
}

.ti-line-double:before {
    content: "\e6e5";
    font-size: xx-large;
}

/* page-3 */
.text {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-family: myFirstFont;
    color: #1F2940;
}

.third_page {
    margin-top: 50px;
}

.background-3, .background-6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background-3 {
    width: 80%;
}

/* build */
.six-text-left h1 {
    color: #1F2940;
    font-size: 50px;
}

.build {
    width: 80%;
    font-size: 17px;
    line-height: 1.4;
    margin: 60px auto;
}

.build-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.build-image {
    display: flex;
    justify-content: start;
    align-items: center;
}

.build-left, .built-right {
    width: 45%;
}

.build-image-left {
    width: 20%;
}

.build-image-right {
    width: 80%;
}

hr {
    margin-bottom: 30px;
}

/* fifth page  */
.fifth-page {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}

.fifth-page-right {
    width: 30%;
}

h1 {
    font-family: myFirstFont;
    color: #1F2940;
}

.fifth-page-left {
    width: 55%;
}

/* six page  */
.six-text {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 50px auto;
    align-items: center;
}

.six-text-left, .six-text-right {
    width: 45%;
}

.six-text-left {
    font-size: 50px;
}

/* seven page  */
.senventh-page {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
    align-items: center;
    gap: 60px
}

.senventh-page-left, .senventh-page-right{
    width: 50%;
}

.page-left-image, .page-right-image {
    width: 100%;
}

/* eight page */
.eight-page {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 200px auto;
}

.eight-page-text {
    width: 30%;
}

.eight-page-image {
    width: 60%;
}

.eight-page-text p {
    margin-bottom: 50px;
}

/* nine page  */
.nine-page {
    display: flex;
    width: 80%;
    margin: 50px auto;
    align-items: center;
}

.nine-page-left {
    width: 30%;
}

.nine-page-right {
    width: 65%;
}

.nine-page-download {
    border: 1px solid #1F2940;
    padding: 5px;
    text-align: center;
    width: 20%;
    margin: auto;
}

.nine-page-download span {
    margin-left: 20px;
    color: #1F2940;
}

/* ten page */
.ten-page {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
    align-items: center;
}

.ten-page-text {
    width: 25%;
    font-size: 13px;
}

.tex-page-text-menu {
    display: flex;
    justify-content: space-between;
}

.ten-page-text-list {
    line-height: 0.7;
}

.ten-page-image {
    width: 70%;
}

/* eleven page  */
.eleven-content {
    width: 100%;
    overflow: hidden;
}
.mySlider-container{

}
.mySlides {
    display: flex;
    gap: 20px;
}
.slider-link {

}

.eleven-icon {
    width: 50px;
    height: 5px;
    background-color: #ccc;
}

.eleven-center {
    display: flex;
    margin: 50px 0;
    gap: 10px;
    justify-content: center;
}

.active.eleven-icon {
    background-color: #1F2940;
}

/* footer */
.footer-flex {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.footer h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}

.end {
    background-color: #1F2940;
    padding: 100px;
}

.footer {
    width: 71%;
    margin: auto;
    color: #fff;
}

.footer-p {
    font-family: myFirstFont;
    font-size: 25px;
    padding-left: 50px;
    text-align: center;
    padding-right: 50px;
}

.footer-flex-item-p {
    line-height: 1.5;
    font-size: 15px;
}

/* enquire */
.enquire {
    text-align: center;
    margin: auto;
    background-color: #F2F2E8;
    padding: 100px;
}

.enquire-content {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;

}

.enquire-content a {
    color: #000;
}

/* last  */
.last {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: #EDEDE0;
    padding: 10px 200px;
}