.first_page{
    width: 100%;
    height: 1087px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: end;
}

.title, .centered {
    letter-spacing: 5px;
    font-family: '2596224269750e00c3ad5356299a3b9f.eot';
}
.footer, .centered-note {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    position: absolute;
    width: 30%;
    height: 1068px;
    background-color: #1F2940;
    color: #FEFEFE;
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Ogg Roman';
    font-size: 44px;
    letter-spacing: 2px;
}

.menu-list {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
}

footer {
    margin-top: 110%;
}

footer p {
    font-size: 30px;
    font-weight: 500;
}

footer a {
    font-size: 13px;
}

/* second page */
.second_page {
    margin-top: 80px;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.background-2 {
    opacity: 60%;
}

.centered, .centered-note, .text, .build, .build-title, .fifth-page, .six-text{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    top: 50%;
    font-size: 120px;
    line-height: 2;
}

.centered-note {
    font-size: 13px;
    top: 60%;
}

.top-right {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
}

.ti-line-double:before {
    content: "\e6e5";
    font-size: xx-large;
}

/* page-3 */
.text {
    font-size: 40px;
    line-height: 0.5;
    margin-top: -150px;
    margin-bottom: 50px;
}

.third_page {
    margin-top: 50px;
}

.background-3, .background-6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background-3 {
    width: 60%;
    margin-bottom: 50px;
}

/* build */
.six-text-left h1 {
    color: #1F2940;
    font-size: 50px;
}

.build-title {
    left: 20%;
}

.build {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 200px;
    font-size: 17px;
    line-height: 1.4;
}

.build-left, .built-right {
    margin-top: 80px;
    width: 45%;
}

/* fifth page  */
.fifth-page {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 900px;
}

.fifth-page-right {
    width: 30%;
    margin-left: 150px;
}

.fifth-page-left {
    width: 55%;
}

/* six page  */
.six-text {
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* margin-top: ; */
}

.six-text-left, .six-text-right {
    width: 45%;
}

.background-6 {
    margin-top: 1800px;
}



