.main {
    background-color: #ccc;
}

.first_page {
    width: 100%;
    height: 1087px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: end;
}

.title, .centered {
    letter-spacing: 5px;
    font-family: '2596224269750e00c3ad5356299a3b9f.eot';
}

.menu {
    position: absolute;
    width: 30%;
    height: 1068px;
    background-color: #1F2940;
    color: #FEFEFE;
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
    letter-spacing: 2px;
}

.menu-list {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
}

footer {
    margin-top: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    font-size: 30px;
    font-weight: 500;
}

footer a {
    font-size: 13px;
}

/* second page */
.second_page {
    margin-top: 80px;
    position: relative;
    text-align: center;
    color: #fff;
}

.background {
    opacity: 40%;
}

.centered, .centered-note{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    top: 50%;
    font-size: 120px;
    line-height: 2;
}

.centered-note {
    font-size: 13px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}



